
<form action="/" method="post" class="form">
 <h1 id="welcome">Welcome To Our</h1>
 <h2 id="anagram_generator">Anagram Generator</h2>
 <fieldset>
  <label for="word">Enter a Word</label>
  <input id="word" type="text" name="word">
</fieldset>
<fieldset>  
	<button type="submit">Show Me My Anagrams!</button>
</fieldset>

</form>