<h1>Anagrams for <%= "#{@word}" %></h1>
<ul> 
		<li><%= "#{@anagrams}" %></li>
   <!-- (loop through @anagrams and print out each one inside a list tag)
    Let’s assume we’ll pass the word we want to find anagrams for (@word) and the list of anagrams (@anagrams). Remember how to loop through an array? Take a look back at your Numerology app if you need to!-->
</ul>  

