<h1>Anagrams for the Word</h1>
<h2><span class="anagram_word"><%= "#{@word}" %></span></h2>
<p>arrows go here</p>
<ul class="anagram_result"> 
	 <% @anagrams.each do |word| %>
		<li><%= "#{word}" %></li>
	<% end %>
   <!-- (loop through @anagrams and print out each one inside a list tag)
    Let’s assume we’ll pass the word we want to find anagrams for (@word) and the list of anagrams (@anagrams). Remember how to loop through an array? Take a look back at your Numerology app if you need to!-->
</ul>  

